<!DOCTYPE html>
<html ng-app="beatCoin" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BeatCoin</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <link rel="icon" href="static/src/favicon.ico" />
    <link href="static/src/stylesheets/styles.css" rel="stylesheet">
  </head>

<body>
  <div ng-controller="NavbarCtrl" class="navbar navbar-inverse navbar-static-top" style="background-color: #0099ff;">
  <div class="navbar-header">
    <a class="navbar-brand" href="/#!/"><i class="ion-ios7-pulse-strong"></i>BeatCoin</a>
  </div>
  <ul class="nav navbar-nav">
    <li ng-if="isAuthenticated()" ng-model="currentUser.name"><a href="/#!/profile">| {[{currentUser.name}]}</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#!/login">Login</a></li>
    <li><a href="/#!/signup">Sign Up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav">
    <li><a href="/#!/transactions">| Transactions</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav">
    <li><a href="/#!/banktransfer">| Bank Transfer</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav">
    <li><a href="/#!/plannedpayments">| Planned Payments</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#!/logout">Logout</a></li>
  </ul>
</div>

<div ui-view></div>

    <!-- external scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-charts/0.2.7/angular-charts.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

    <!-- application scripts-->
    <script src="static/src/App.js"></script>
    <script src="static/src/directives/passwordStrength.js"></script>
    <script src="static/src/directives/passwordMatch.js"></script>
    <script src="static/src/controllers/home.js"></script>
    <script src="static/src/controllers/login.js"></script>
    <script src="static/src/controllers/signup0.js"></script>
    <script src="static/src/controllers/logout.js"></script>
    <script src="static/src/controllers/profile0.js"></script>
    <script src="static/src/controllers/navbar0.js"></script>
    <script src="static/src/controllers/banktransfer.js"></script>
    <script src="static/src/controllers/transactions.js"></script>
    <script src="static/src/controllers/administrator.js"></script>
    <script src="static/src/controllers/usersmanagement.js"></script>
    <script src="static/src/controllers/plannedpayments.js"></script>
    <script src="static/src/services/account.js"></script>
    <script src="static/src/services/card.js"></script>
    <script src="static/src/services/finance.js"></script>
  <!-- </body> -->
</html>
