<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <h2>Carte</h2>
    <p><b>Controlla le tue carte</b></p>
    <p>Qui potrai vedere le carte collegate al tuo conto ed inserirne di nuove.</p>
    <p><a class="btn btn-primary" href="/#/cards">Vai »</a></p>
    <!-- <div class="panel-body">

          <p><h2><b>Benvenuto in Unicam Product Editor!</b></h2><br></p>



          <div class="row">
            <div class="col-sm-6">
              <p>Gestore delle parti del configuratore LEGO in realtà aumentata</p>
              <p>
              L'obiettivo del progetto è lo sviluppo di un'applicazione mirata<br>
              alla visualizzazione e alla personalizzazione di oggetti 3D in<br>
              ambito e-commerce.<br></p><br>
          <h2>Liste</h2>
          <p><b>Controlla le tue liste</b></p>
          <p>Qui potrai vedere le tue liste ed inserirne di nuove.</p>
          <p><a class="btn btn-primary" href="/#/lists">Vai »</a></p>
          </div>
        <div class="col-sm-6">
          <p>
          Puoi iniziare effettuando <a href="/signup">registrandoti</a> o
          <a href="/#/login">effettuando l'accesso</a>.<br><br>
          In questa applicazione sono già presenti degli oggetti 3D, inseriti<br>
          tramite l'uploader, che potrai visualizzare e configurare su<br><br>
          <a href="https://unicam-product-viewer.herokuapp.com">Unicam Product Viewer</a>.
          </p>
          <h2>Uploader</h2>
          <p><b>Aggiungi una forma</b></p>
          <p>Qui potrai inserire dei file .obj (forme 3D)</p>
          <p><a class="btn btn-primary" href="/#/goupload">Upload »</a></p>
        </div>
      </div>
    </div> -->
    <div class="panel-footer text-center">
    </div>
  </div>
</div>
<!-- <div class="text-center">
  <a class="btn btn-default" href="https://github.com/e-xtrategy/unicam-product-editor"><i class="ion-social-github"></i>Progetto su GitHub</a>
  <a class="btn btn-default" href="https://github.com/e-xtrategy/unicam-product-editor/issues/new"><i class="ion-bug"></i>Riporta un problema</a>
</div> -->
<br>
</div>
