<div class="col-md-12">
<h1>Oggetti</h1>
<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Azione</th>
  </thead>
  <tbody>
    <tr ng-repeat="object in objects">
      <td ng-hide="object.edit">{[{object.nome}]}</td>
      <td ng-show="object.edit"><input type="text" ng-model="object.nome"></td>

      <td ng-hide="object.edit">{[{object.descrizione}]}</td>
      <td ng-show="object.edit"><input type="text" ng-model="object.descrizione"></td>

      <td ng-hide="object.edit">
        <button class="btn btn-success" ng-click="viewDetail($index)">Vedi</button>
        <button class="btn btn-success" ng-click="toggleEdit($index)">Modifica</button>
        <button class="btn btn-danger" ng-click="deleteObject($index)">Elimina</button>
      </td>
      <td ng-show="object.edit">
        <button class="btn btn-primary" ng-click="saveObject($index)">Salva</button>
        <button class="btn btn-danger" ng-click="toggleEdit($index)">Annulla</button>
      </td>
    </tr>
  </tbody>
  <tr>
    <td><input type="text" ng-model="newObject.nome"></td>
    <td><input type="text" ng-model="newObject.descrizione"></td>
    <td>
      <button class="btn btn-primary" ng-click="addObject()">Aggiungi nuovo</button>
    </td>
  </tr>
</table>
</div>
