<div class="col-md-12">
<h1>Options</h1>
<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Prezzo</th>
    <th>Forma</th>
    <th>Azione</th>
  </thead>
  <tbody>
    <tr ng-repeat="option in options">
      <td ng-hide="option.edit">{[{option.nome}]}</td>
      <td ng-show="option.edit"><input type="text" ng-model="option.nome"></td>

      <td ng-hide="option.edit">{[{option.prezzo}]}</td>
      <td ng-show="option.edit"><input type="text" ng-model="option.prezzo"></td>

      <td ng-hide="option.edit">{[{option.forma}]}</td>
      <td ng-show="option.edit"><input type="text" ng-model="option.forma"></td>

      <td ng-hide="option.edit">
        <button class="btn btn-success" ng-click="toggleEdit($index)">Modifica</button>
        <button class="btn btn-danger" ng-click="deleteOption($index)">Elimina</button>
      </td>
      <td ng-show="option.edit">
        <button class="btn btn-primary" ng-click="saveOption($index)">Salva</button>
        <button class="btn btn-danger" ng-click="toggleEdit($index)">Annulla</button>
      </td>
    </tr>
  </tbody>
  <tr>
    <td><input type="text" ng-model="newOption.nome"></td>
    <td><input type="text" ng-model="newOption.prezzo"></td>
    <td><input type="text" ng-model="newOption.forma"></td>
    <td>
      <button class="btn btn-primary" ng-click="addOption()">Aggiungi nuovo</button>
    </td>
  </tr>
</table>
</div>
