<div class="container">
  <header>
      <h2>Upload</h2>
  </header>
<h4><p>
Inserisci il tuo file .obj
</p></h4>
<div class="row">
  <div class="col-md-6">

<!-- uploader -->
<input id="in" class="form-control" type="file" name="file" accept=".obj"/></br>
<button class="btn btn-primary btn-md btn-block" onclick="angular.element(document.getElementById('in')).scope().uploadFile(document.getElementById('in').files)">Upload file</button>
<route-loading-indicator loading="isRouteLoading"></route-loading-indicator>
<div ng-show="uploadsuccess"><h3 class="loading-title">File caricato con successo.</h3></div>

  <!-- get all shapes -->
  <div align="center" float="right" class="list-group">
    <h5><a href="/#/shape" class="list-group-item">Vedi l'ID di tutti i file convertiti</a></h5>
  </div>
</div>
<br>
</div>
</div>
</div>
</div>
