<div class="container">
  <legend>Balance</legend>
  <label ng-model="balance"><h3> {[{ balance }]} </h3></label> <i class="glyphicon glyphicon-euro"></i></br>
</div>

<div class="container">
  <legend>Bank Transfer</legend>
  <div layout-gt-sm="row" class="container">
    <md-input-container class="md-block" flex-gt-sm="">
      <label>Transfer Amount</label>
      <input ng-model="amount">
    </md-input-container>
  </div>

  <div layout-gt-sm="row" class="container">
    <md-input-container class="md-block" flex-gt-sm="">
      <label>Receiver Card's PAN</label>
      <input ng-model="receiver">
    </md-input-container>
  </div>

  <div layout-gt-sm="row" class="container">
    <md-input-container class="md-block" flex-gt-sm="">
      <label>Transaction Description</label>
      <input type="text"
      ng-model="description"
      maxlength="25"/>
    </md-input-container>
  </div>
</div>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Choose a Card
          <span role="pencil" class="glyphicon glyphicon-credit-card"></span></div>
        <div class="panel-body">
          <legend>Your Cards</legend>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>PAN Code</th>
                <th>Circuit</th>
                <th>Expire Date</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="card in cards">
                <td>{[{card.panCode}]}</td>
                <td>{[{card.circuit}]}</td>
                <td>{[{card.expDate}]}</td>
                <td>{[{card.balance}]} €</td>
                <td>
                  <button class="btn btn-primary" ng-click="showConfirm($event, $index)">
                    Send
                  </button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
          </div>
      </div>
    </div>
