  <!-- <div class="panel panel-default"> -->
    <!-- <div class="panel-heading">Account</div> -->
    <!-- <div class="panel-body"> -->
    <div class="container">
        <legend>Balance</legend>
        <label ng-model="currentUser.balance"><h3> {[{currentUser.balance}]} </h3></label> <i class="glyphicon glyphicon-euro"></i></br>
    </div>
    </br>
    <div class="container">
        <legend>Transfer Amount</legend>
        <input type="text" class="form-control" ng-model="amount" placeholder="Insert the amount"/>
    </div>
  </br>
    <div class="container">
        <legend>Receiver Card's PAN</legend>
        <input type="text" class="form-control" ng-model="receiver" placeholder="Insert the reicever card's PAN code"/>
    </div>
  </br>
  <div class="container">
      <legend>Transaction Description</legend>
      <textarea type="text"
      class="form-control"
      ng-model="description"
      placeholder="Write a transaction description (optional)"/>
  </div>
</br>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Choose a Card
          <span role="pencil" class="glyphicon glyphicon-credit-card"></span></div>
        <div class="panel-body">
          <legend>Your Cards</legend>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>PAN Code</th>
                <th>Circuit</th>
                <th>Expire Date</th>
                <th>Sec Number</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="card in cards">
                <td>{[{card.panCode}]}</td>
                <td>{[{card.circuit}]}</td>
                <td>{[{card.expDate}]}</td>
                <td>{[{card.securityNumb}]}</td>
                <td>{[{card.balance}]} €</td>
                <td>
                  <!-- <button class="btn btn-primary" ng-click="bankTransfer($index)">Send</button> -->
                  <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
                    Confirm Dialog
                  </md-button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
          <!-- <button role="send" class="btn btn-lg btn-success" ng-click="bankTransfer()">Send</button> -->
        </div>
      </div>
    </div>
