<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-footer text-center">
      <div class="text-center">
        <img role="add" src="static/src/img/onlinebanking.png" alt="Description"/>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a class="btn btn-default" href="https://github.com/paoloandre/beatcoin"><i class="ion-social-github"></i>GitHub Repo</a>
  <a class="btn btn-default" href="https://github.com/paoloandre/beatcoin/issues/new"><i class="ion-bug"></i>Report an issue</a>
</div>
<br>
</div>
