<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Planned Payments<md-icon role="pencil" md-svg-icon="static/src/img/plan.svg"></md-icon></div>
    <div class="panel-body">
    <legend>Your Planned Payments</legend>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pp in pps">
        <td>{[{pp.description}]}</td>
        <td>{[{pp.amount}]} €</td>
        <td>{[{pp.date}]}</td>
        <td>
          <md-button class="md-warn" ng-click="showConfirm($event, $index)">
            Remove
          </md-button>
        </td>
      </tr>
    </tbody>
    </table>
  </div></br>
    <md-button role="add"
    class="md-fab md-primary"
    aria-label="Use Android"
    ng-click="add=!add">
          <md-icon md-svg-src="static/src/img/add.svg"></md-icon>
    </md-button>
    </br>
  </br>
    <form method="post" ng-if="add" ng-init="add=false" ng-submit="addPp()">
      <div layout-gt-sm="row" class="container">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Description</label>
          <input ng-model="pp.description">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Amount</label>
          <input ng-model="pp.amount">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-datepicker ng-model="pp.date" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
      </div>
      <md-button role="send" class="md-raised md-primary" type="submit" ng-click="add=!add">Add Planned Payment</md-button>
    </form>
  </div>
  </div>
</div>
