<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profilo</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Modifica il mio profilo</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Immagine del profilo</label>
          <img class="profile-picture" ng-src="{[{user.picture || 'https://github.com/e-xtrategy/unicam-product-editor/blob/master/public/img/placeholder.jpeg'}]}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Nome Visualizzato</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Indirizzo e-mail</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Aggiorna informazioni</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Account</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Account Collegati</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Scollega Account Facebook
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Collega Account Facebook
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Scollega Account Google
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Collega Account Google
        </button>
      </div>
    </div>
  </div>
</div>
