<div class="container">
  <div class="panel panel-default">
    <div role="profile" class="panel-heading" ng-click="edit=!edit" ng-init="edit=false">Profile
      <span role="pencil" class="glyphicon glyphicon-pencil"></span></div>
    <div class="panel-body" ng-if="edit">
      <legend>Edit my profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label"><i class="glyphicon glyphicon-user"></i> Name</label>
          <input type="text" class="form-control" ng-model="user.name" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="glyphicon glyphicon-envelope"></i> E-mail</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button role="send" class="btn btn-lg btn-success">Update info</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Account</div>
    <div class="panel-body">
    <legend>Balance</legend>
    <label ng-model="currentUser.balance"><h3> {[{currentUser.balance}]} </h3></label> <i class="glyphicon glyphicon-euro"></i></br>
    <legend>Cards</legend>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>PAN Code</th>
        <th>Circuit</th>
        <th>Expire Date</th>
        <th>Sec Number</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in cards">
        <td>{[{card.panCode}]}</td>
        <td>{[{card.circuit}]}</td>
        <td>{[{card.expDate}]}</td>
        <td>{[{card.securityNumb}]}</td>
        <td>{[{card.balance}]}</td>
      </tr>
    </tbody>
    </table>
  </div></br>
    <button role="add" ng-click="add=!add">Add Card</button>
    </br>
  </br>
    <form method="post" ng-if="add" ng-init="add=false" ng-submit="addCard()">
      <div class="form-group">
        <label class="control-label">Pan Code</label>
        <input type="text" class="form-control" name="panCode" ng-model="card.panCode" />
      </div>
      <div class="form-group">
        <label class="control-label">Circuit</label>
        <input type="text" class="form-control" name="circuit" ng-model="card.circuit" />
      </div>
      <div class="form-group">
        <label class="control-label">Expire Date (MM/YY)</label>
        <input type="text" class="form-control" name="expDate" ng-model="card.expDate" />
      </div>
      <div class="form-group">
        <label class="control-label">Security Number</label>
        <input type="text" class="form-control" name="securityNumb" ng-model="card.securityNumb" />
      </div>
      <div class="form-group">
        <label class="control-label">Balance</label>
        <input type="text" class="form-control" name="balance" ng-model="card.balance" />
      </div>
      <button role="send" type="submit" class="btn btn-lg btn-success">Add Card</button>
    </form>
  </div>
  </div>
</div>
