<div class="container">
  <div class="panel panel-default">
    <div role="profile" class="panel-heading" ng-click="edit=!edit" ng-init="edit=false">Profile
      <md-icon role="pencil" md-svg-icon="static/src/img/edit.svg"></md-icon></div>
    <div class="panel-body" ng-if="edit">
      <legend>Edit my profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label"><i class="glyphicon glyphicon-user"></i> Name</label>
          <input type="text" class="form-control" ng-model="user.name" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="glyphicon glyphicon-envelope"></i> E-mail</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <md-button role="send" type="submit" class="md-raised md-primary">Update info</md-button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Account</div>
    <div class="panel-body">
    <legend>Balance</legend>
    <label ng-model="balance"><h3> {[{ balance }]} </h3></label> <i class="glyphicon glyphicon-euro"></i></br>
    <legend>Cards</legend>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>PAN Code</th>
        <th>Circuit</th>
        <th>Expire Date</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in cards">
        <td>{[{card.panCode}]}</td>
        <td>{[{card.circuit}]}</td>
        <td>{[{card.expDate}]}</td>
        <td>{[{card.balance}]} €</td>
        <td>
          <md-button class="md-warn" ng-click="showConfirm($event, $index)">
            Remove
          </md-button>
        </td>
      </tr>
    </tbody>
    </table>
  </div></br>
    <md-button role="add"
    class="md-fab md-primary"
    aria-label="Use Android"
    ng-click="add=!add">
          <md-icon md-svg-src="static/src/img/add.svg"></md-icon>
    </md-button>
    </br>
  </br>

<div class="card-js"></div>
  <form novalidate method="post" ng-if="add" ng-init="add=false" ng-submit="addCard()">
    <div layout-gt-sm="row" class="container">
    <label>For previously inserted cards only Pan Code is required</label>
  </div>
    <div layout-gt-sm="row" class="container">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Circuit</label>
        <md-select ng-model="card.circuit">
          <md-option value="Visa">Visa</md-option>
          <md-option value="MasterCard">MasterCard</md-option>
          <md-option value="American Express">American Express</md-option>
          <md-option value="Other">Other</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>PAN Code</label>
        <input type="text" ng-model="card.panCode" maxlength="16"/>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" class="container">
      <md-input-container class="md-block" flex-gt-sm="">
        <md-datepicker name="expDate" ng-model="card.expDate" md-placeholder="Enter date" md-mode="month"></md-datepicker>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Security Number</label>
        <input ng-model="card.securityNumb">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Balance</label>
        <input ng-model="card.balance">
      </md-input-container>
    </div>
    <md-button role="send" class="md-raised md-primary" type="submit" ng-click="add=!add">Add Card</md-button>
  </form>
  </div>
  </div>
</div>
