<div class="container">
  <div class="row">
    <div class="center-form panel" style="margin-top: auto">
      <div class="panel-body">
        <h2 class="text-center">Sign Up</h2>
        <form method="post" ng-submit="signup()" name="signupForm">
          <!-- Full Name -->
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.fullName.$invalid && signupForm.fullName.$dirty }">
            <input class="form-control input-lg" type="text" name="fullName" ng-model="user.fullName" placeholder="Name" required autofocus>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.fullName.$dirty" ng-messages="signupForm.fullName.$error">
              <div ng-message="required">Your entire name</div>
            </div>
          </div>
          <!-- Username -->
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty }">
            <input class="form-control input-lg" type="text" name="username" ng-model="user.username" placeholder="Username" required autofocus>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.username.$dirty" ng-messages="signupForm.username.$error">
              <div ng-message="required">Choose an username</div>
            </div>
          </div>
          <!-- E-mail -->
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="user.email" placeholder="E-mail" required>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
              <div ng-message="required">Your e-mail</div>
              <div ng-message="pattern">Invalid e-mail</div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Choose a password</div>
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
            <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
              <div ng-message="compareTo">Confirm your password</div>
            </div>
          </div>
          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Registrati</button>
          <br/>
          <p class="text-center text-muted">Hai già un account? <a href="/#/login">Accedi ora</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
